@import "../../style-padrao.scss";

.container-categories {
    // background-color: darkgrey;
}

.container-categories .categories {
    overflow-y: auto;
    height: 460px;
    padding-top: 8px;
    font-weight: 500;

    &::-webkit-scrollbar { width:10px; background:#ececec; } /* configurando scroll */
    &::-webkit-scrollbar-track { background: rgba(0,0,0,0.1); }
    &::-webkit-scrollbar-thumb { background:#b6b6b6;  }

    ul  li {
        line-height: 35px;
        padding-left: 16px;
    }
    a {
        color: $cor-primaria;
    }
}