@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {

}

$cor-primaria: #31adaf;
$cor-secundaria: #ec3e7c;
$cinza: #e3e3e3;


$largura-porcentagem: 90%;
$largura-maxima: 1200px;
